@media only screen and (max-width: 500px) {
    body {
        background-size: 2000px;
    }
    .main-container {
        width: 600px;
        overflow: hidden;
        margin-top: 5rem;
    }
    .search-bar {
        width: 30rem;
        height: 4rem;
    }
    .search-page-input {
        width: 15rem;
    }
    .priority-2 {
        display: none;
    }
    .search-result-container {
        padding-top: 2rem;
        .table-container {
            margin: auto;
            padding: 1rem;
            table {
                .additional-info {
                    margin-top: 1rem;
                    display: block;
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                }
            }
        }
    }
    .download-dialog-container {
        min-width: 10rem;
        .title {
            font-size: 14px;
        }
        .info {
            font-size: 10px;
        }
        .action {
            font-size: 14px;
            .action-icon {
                font-size: 24px;
            }
        }
    }
}
