@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,900;1,400&display=swap");

$color-primary: #111114;
$color-secondary: #131127;
$color-text-primary: #909090;
$color-text-secondary: #a3a3a3;
$color-highlight: #a52eff;

$sm: 400px;
$md: 800px;
$lg: 1200px;

// #26264c
// #1a1a2e

body {
  padding: 0;
  margin: 0;
  background-image: url("../assets/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #292929;
  height: 100vh;
  color: $color-text-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
  .heading {
    flex-direction: column;

    h1 {
      margin-bottom: 1rem;
      font-size: 3rem;
      font-weight: bold;
      span {
        color: $color-highlight;
      }
    }
    p {
      margin-bottom: 2rem;
    }
  }
}

.search-bar {
  width: 40rem;
  margin-bottom: 2rem;
  input {
    color: $color-text-secondary;
    background-color: #505050;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding-left: 1.5rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-text-secondary;
    }
  }
  button {
    background-color: #505050;
    font-size: 1.3rem;
    height: 3rem;
    width: 4rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
  }
  .select-input {
    // font-size: 1.3rem;

    height: 2.5rem;
    padding: 0 10px 0 10px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    background-color: #dad8e6;
    &:focus {
      outline: none;
    }
  }
}

.search-result-container {
  padding-top: 3rem;
  height: 100vh;
  .table-container {
    margin: 5rem 2rem 0 2rem;
    background-color: #1a1919;
    padding: 2rem;
    border-radius: 5px;
    // padding-left: 3rem;
    table {
      border-collapse: collapse;
      font-size: 0.9em;
      width: 100%;
      thead {
        border-radius: 50px;
        // background-color: #3b3b79;
        text-align: left;
        font-weight: bold;
        border-bottom: solid 1px;
      }
      tbody {
        tr:hover {
          background-color: #313030;
          cursor: pointer;
        }
      }
      th,
      td {
        padding: 12px 15px;
      }
      .leecher {
        color: rgb(247, 23, 23);
      }
      .seeder {
        color: rgb(40, 241, 40);
      }
      .uploader {
        color: rgb(190, 28, 223);
      }
      .name {
        color: rgb(95, 132, 241);
      }
      .additional-info {
        display: none;
      }
    }
  }
}

.loading-container {
  height: 70vh;
  font-size: 2em;
}

.checkbox {
  justify-content: space-around;
}

.download-dialog-container {
  min-width: 30rem;
  background-color: $color-secondary;
  color: $color-text-primary;

  .info {
    justify-content: space-between;
    padding-bottom: 3rem;
    span {
      color: $color-text-primary;
    }
    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  .action {
    color: #a79de6;
    gap: 3rem;
    & > * {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
    }
    .action-icon {
      font-size: 44px;
    }
  }
}

.search-page-input {
  width: 25rem;
}

.wave {
  position: absolute;
  top: 0;
  bottom: 0;
  color: red;
}

@import "./mediaQuery";
